*{
	margin: 0;
	padding: 0;
}
.container{
	width: 50%;
}
body{
    background-image: url("../uploads/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}
td{
	background-color: #fff;
}
img{
	width: 5%;
}
label{
	font-size: 20px;
}
h1,h2{
	text-align: center;
}
a{
	text-align: center;
	color: #000;
}